doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    include ../../includes/head
  body
    .container
      .row
        table.table.table-hover.table-bordered
          thead
            tr
              th 名字
              th 录入时间
              th 修改
              th 删除
          tbody
            each item in users
              tr(class="item-id-#{item._id}")
                td #{item.username}
                td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                td: a(target="_blank", href="../admin/update/#{item._id}") 修改
                td
                  button.btn.btn-danger(type="button",  onclick='deleteUser("#{item._id}")') 删除
  script(src="/js/public.js")