doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    include ../includes/head
    style.
      .default {
        margin-top:100px;
      }
      #inputSummary {
        resize:none;
      }
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="/") 导航条
        if user
          p.navbar-text.navbar-right
            span 欢迎您,#{user.username}
            span &nbsp;|&nbsp;
            a.navbar-link(href="#" onclick='logout()') 注销
        else
          p.navbar-text.navbar-right
            a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal") 注册
            span &nbsp;|&nbsp;
            a.navbar-link(href="#", data-toggle="modal", data-target="#loginModal") 登录
    .container.default
      .row
       .form-group
          h1.col-sm-2 电影录入
      hr
      .row
        form.form-horizontal(method="post", action="/savemovie")
          .form-group
              label.col-sm-2.control-label(for="inputDoubanId") 豆瓣电影ID
              .col-sm-10
                input#inputDoubanId.form-control(type="text", name="inputDoubanId")
          if movie._id
            input(type="hidden", name="movie[_id]", value=movie._id)
          //- 隐藏表单域，用来更新电影数据，存储电影ID
          .form-group
            label.col-sm-2.control-label 电影分类
            .col-sm-10
              each cat in categories
                label.radio-inline
                  if movie.category
                    input(type="radio", name="movie[category]", value=cat._id, checked=cat._id.toString()==movie.category.toString())
                  else
                    input(type="radio", name="movie[category]", value=cat._id)
                  | #{cat.name}
          .form-group
            label.col-sm-2.control-label(for="inputTitle") 电影名称
            .col-sm-10
              input#inputTitle.form-control(type="text", name="movie[title]", value=movie.title)
          .form-group
            label.col-sm-2.control-label(for="inputAka") 又名
            .col-sm-10
              input#inputAka.form-control(type="text", name="movie[aka]", value=movie.aka)
          .form-group
            label.col-sm-2.control-label(for="inputDoctor") 电影导演
            .col-sm-10
              input#inputDoctor.form-control(type="text", name="movie[doctor]", value=movie.doctor)
          .form-group
            label.col-sm-2.control-label(for="inputCasts") 主演
            .col-sm-10
              input#inputCasts.form-control(type="text", name="movie[casts]", value=movie.casts)
          .form-group
            label.col-sm-2.control-label(for="inputGenres") 电影类型
            .col-sm-10
              input#inputGenres.form-control(type="text", name="movie[genres]", value=movie.genres)
          .form-group
            label.col-sm-2.control-label(for="inputPv") 访问量
            .col-sm-10
              input#inputPv.form-control(type="text", name="movie[pv]", value=movie.pv)
          .form-group
            label.col-sm-2.control-label(for="inputCountry") 国家
            .col-sm-10
              input#inputCountry.form-control(type="text", name="movie[country]", value=movie.country)
          .form-group
            label.col-sm-2.control-label(for="inputLanguage") 语种
            .col-sm-10
              input#inputLanguage.form-control(type="text", name="movie[language]", value=movie.language)
          .form-group
            label.col-sm-2.control-label(for="inputPoster") 海报地址
            .col-sm-10
              input#inputPoster.form-control(type="text", name="movie[poster]", value=movie.poster)
          .form-group
            label.col-sm-2.control-label(for="inputFlash") 片源地址
            .col-sm-10
              input#inputFlash.form-control(type="text", name="movie[flash]", value=movie.flash)
          .form-group
            label.col-sm-2.control-label(for="inputYear") 上映年代
            .col-sm-10
              input#inputYear.form-control(type="text", name="movie[year]", value=movie.year)
          .form-group
            label.col-sm-2.control-label(for="inputSource") 豆瓣评分
            .col-sm-10
              input#inputSource.form-control(type="text", name="movie[score]", value=movie.score)
          .form-group
            label.col-sm-2.control-label(for="inputStarScore") 豆瓣星级
            .col-sm-10
              input#inputStarScore.form-control(type="text", name="movie[starScore]", value=movie.starScore)
          .form-group
            label.col-sm-2.control-label(for="inputSummary") 电影简介
            .col-sm-10
              textarea#inputSummary.form-control(type="text", name="movie[summary]", rows=8, value=movie.summary)
          .form-group
            .col-sm-10
            button.btn.btn-default(type="submit") 录入
#signupModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/signup")
        .modal-header 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名
            input#signupName.form-control(name="user[username]", type="text")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(name="user[password]", type="text")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交
#loginModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/login")
        .modal-header 登录
        .modal-body
          .form-group
            label(for="signinName") 用户名
            input#signinName.form-control(name="user[username]", type="text")
          .form-group
            label(for="signinPassword") 密码
            input#signinPassword.form-control(name="user[password]", type="text")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交
  script(src="/js/public.js")